In [3]:
#keywords in python
from keyword import kwlist
print(kwlist)
print("\n number of keywords:",len(kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

 number of keywords: 35

In [4]:
a = 10
print(id(a)) 
#that means the value came out by printing are on the memory location

140723779020880

In [5]:
a = 9
print(id(a)) 
# for every stored number python has seperate memory location

140723779020848

In [2]:
# isintance checks the boolean number
a= 1 + 2j
print((a),"is it a complex number?")
print(isinstance(1+2j,complex))
print(type(a))

(1+2j) is it a complex number?
True
<class 'complex'>

In [1]:
# python doesn't need to assign data types, it already knows what are the data types after assigning
a=10
b=5.5
c="ML"

In [5]:
a= True
b= False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [7]:
# Strings is a sequence of UNICODE characters, the first character of the string is index 0, it can represent by "",'',''
s= "This is online course"
print(s)
print(type(s))

This is online course
<class 'str'>

In [8]:
#last character of s[len(s)-1]or s[-1]
print(s[5])

i

In [11]:
print(s[0])
print(s[3])
print(s[-1])
print(s[-2])
# -1 or -2 means we counting from backwards

T
s
e
s

In [14]:
# we can get the last index by other way, it means the whole length of s and minus 1 from it
print(s[len(s)-1])

e

In [15]:
#slicing
s[5:] #this means from index 5 to(:) end

'is online course'

In [16]:
s[5:10]

'is on'

In [19]:
#List is an ordered sequence of items, list is mutable,meaning value of element in the list can be changed
U=[10,30.6,"Hola"]
print(U[2])
print(U[1])
print(U[0])
U[0]=70
print(U)

Hola
30.6
10
[70, 30.6, 'Hola']

In [21]:
#Tuples
#Tuples are declared in parenthese where list is declared in square brackets 
#tuples are non changeble where list is changeble
#Tuples is a ordered sequence items same as list
# one can't modify in tuples in any index
a=(10,90,78.5,"yuh")
print(a[1])

90

In [23]:
#Set is an unordered items, it use as curly braces
#Set only stores unqiue values not value will repeative
# just like list or items how we can get value from index but in set that is different
# we can't print the elements in sets indexwise because its unorder collections of items
s={1,2,3,4,4,4,6,7,4,5}
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [30]:
#Dictionaries
#Dictionaries are like hashtables, its a key value store first one is key and 2nd one is value
#just like sets dictioinaries define as curly braces, but one needs to put first key then value like
a={'a':"apple", 'b':"ball"} 
#here "a" is key and "apple" is value
print(a['a'])
#so here printing the key for getting value

apple

In [31]:
#for converting
float(5) #here 5 is int

5.0

In [32]:
str(25)

'25'

In [1]:
user="Rohan"
lines=100
print("congratulations, "+user+" !You just completed "+str(lines)+" kilometers of marathon ")
#remove str it will give a error as without str the lines variable will work on a mathematical way

congratulations, Rohan !You just completed 100 kilometers of marathon

In [39]:
#converting a list to a set
l=[1,5,7,9,14]
print(type(l))
s=set(l)
print(type(s))

<class 'list'>
<class 'set'>

In [3]:
#convert string to a list
list("Hola,amigo")

['H', 'o', 'l', 'a', ',', 'a', 'm', 'i', 'g', 'o']

In [6]:
#OUTPUT FORMAT
a=10;b=20
print("the value of b is {1} and a is {0}".format(a,b))

the value of b is 20 and a is 10

In [8]:
# we can combine positional arguements with keyword arguements
print("The story of {a}, {b} and {c}".format(a='Bill',b='Manford', c='George'))

The story of Bill, Manford and George

In [1]:
#reminder
print(17%2)

1

In [4]:
#floor
print(15/2)
print(15//2)
print(-15/2)
print(-15//2)
#exponents
print(2**4)
print(3**3)
print(2**9)

7.5
7
-7.5
-8
16
27
512

In [5]:
# detecting true or false
a=10;b=9
print(a>b)
print(a>=b)
print(a<b)

True
True
False

In [7]:
#logical operators
a, b=True,False
print(a and b)
print (a or b)

False
True

In [8]:
#bitwise operators
a,b = 10,4
print(a & b)
print(a | b)

0
14

In [10]:
a=10
a+=10
print(a)

20

In [15]:
a=20
a-=20
print(a)
b=21
b+=21
print(b)

0
42

In [16]:
#identity operators
a=5
b=5
print(b is a)

True

In [17]:
f='AAICE'
g='AAICE'
print(f is g)
print(f is not g)

True
False

In [18]:
# but in terms of complex variables or methods like list or set, identity operators can't work just like the example
l1=[13,40,51,78]
l2=[13,40,51,78]
print(l1 is l2)
# even both of the list have the same numbers but still it isn't identify same as each other

False

In [20]:
#Membership operators
lst=[1,3,5,7,9,10]
print(10 in lst)
d={1:'u',2:'y'}
print(1 in d)

True
True

In [26]:
#if-else
num=10
#num>10 is a test condition
#0,none and False always taken as: False in python
if num>10:
    print('The number is positive')
print('This will print always')

This will print always

In [28]:
num=-70
#if ,else,elif(else if)
if num>0:
    print("The number is positive")
elif num==0:
    print("Zero")
else:
    print('The number is negative')

The number is negative

In [29]:
#another excercise
num=11.5
if num>=0:
    if num==0:
        print("zero")
    else:
        print("Positive Number")
else:
    print("Negative number")

Positive Number

In [31]:
#Find the largest element among three numbers
num1=14
num2=50
num3=49

if(num1>num2) and (num1>num3):
    largest=num1
elif(num2>num1) and (num2>num3):
    largest=num2
else:
    largest=num3
print("The largest number between this three is: {}".format(largest))

The largest number between this three is: 50

In [36]:
#While loops
#find product of all numbers in the list
lst=[10,20,30,40,50,60,70,80]
product=1
index=0
while index<len(lst):
    product *= lst[index]
    print(product)
    index+=1
print("the whole product is:{}".format(product))

10
200
6000
240000
12000000
720000000
50400000000
4032000000000
the whole product is:4032000000000

In [37]:
#while with else
num=[1,2,3,4,5,6,7,8]
index=0
while index<len(num):
    print(num[index])
    index += 1
else:
    print("nothing else to print")

1
2
3
4
5
6
7
8
nothing else to print

In [ ]:
#python program to check the given number is prime or not
#what is prime number? ans: its a number which is divisible by 1 and itself
num=int(input("Enter a number: "))   #converting str to a int
isDivisible = False;
i=2;
while i<num:
    if num % i == 0:
        isDivisible=True;
        print('{} is divisible by {}'.format(num,i))
        i += 1;
if isDivisible:
    print('{} is not a prime number'.format(num))
else:
    print(('{} is a prime number'.format(num)))

In [2]:
#for loop
# for element in sequence:
#    Body of for
#find products of all number present in the list
lst = [10,20,30,40,50]

product = 1
for elem in lst:
    product *= elem
print("the whole product value is: {}".format(product))

the whole product value is: 12000000

In [6]:
#range in for
for i in range(1,20,2):    #here iteration happens from 1-20 and 2 is the step size after the iteration of 1 it will
     print(i)                       # iterate 1+2 then 3+2 and continue....

1
3
5
7
9
11
13
15
17
19

In [16]:
lst = ["rohan","roni","rock","roman","rahem"]
for i in range(len(lst)):
    #here len(lst)=0,1,2,3,4=5
    print(lst[i])
else:
    print("No item left in the list")
# it will be same for this also:
#for ele in lst:
#    print(ele)

rohan
roni
rock
roman
rahem
No item left in the list

In [ ]:
#python program to display all prime numbers in the interval